.home-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 10%;
  margin: 80px auto;
  font-size: 16px;
  height: calc(100vh - 80px);
}

.personal-descr-container{
  width: 50%;
}

.personal-descr-container h2{
  margin-bottom: 25px;
  text-shadow:  0 0 10px var(--primary),
  0 0 20px var(--primary),
  0 0 30px var(--primary),
  0 0 40px var(--primary);
  font-size: 34px;
}

.personal-descr{
  font-size: 18px;
  line-height: 1.5rem;
  text-align: left;
}

.personal-descr a{
  text-decoration: none;
  color: var(--secondary);
  font-weight: 600;
}

.personal-descr a:hover{
  border-bottom: 1px solid var(--primary);
}

.my-pic{
  width: 30%;
  border-radius: 50%;
  box-shadow: 0 0 10px var(--primary),
              0 0 20px var(--primary),
              0 0 30px var(--primary),
              0 0 40px var(--primary);
  transition: all 0.5s ease-in;
}

.my-pic:hover{
  box-shadow: 0 0 10px var(--primary),
              0 0 20px var(--primary),
              0 0 30px var(--primary),
              0 0 40px var(--primary),
              0 0 50px var(--primary),
              0 0 60px var(--primary);
}


@media (min-width:320px) and (max-width:480px){

  .personal-descr{
    font-size: 15px;
    margin-top: 40px;
  }

}

@media (min-width:481px) and (max-width:768px){

  .personal-descr{
    font-size: 17px;
  }

}

@media (min-width:320px) and (max-width:1024px){

  .home-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    padding: 0;
  }

  .personal-descr-container{
    width: 80%;
    text-align: center;
  }

  .personal-descr{
    text-align: center;
  }

  .home-container img{
    display: none;
  }

}


