.container-sections{
  display: flex;
  justify-content: space-around;
}

h3{
  margin: 15px 0; ;
}

p{
  margin: 20px 0;
}

span{
  font-weight: 700;
  color: var(--secondary);
}

.skills{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}