/* color palette */
:root{
  --primary: #2B6DB8;
  --secondary: #7EB2EE;
}

@import "header.css";

*{
  color: white;
  font-family: Poppins, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
}