header{
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between ;
  height: 80px;
  padding: 0 25px;
}

button{
  background-color: black;
  padding: 5px;
}

a{
  text-decoration: none;
  margin: 0 5px;
}