.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between ;
  height: 80px;
  padding: 0 35px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000;
  z-index: 1;
}

header .logo{
  text-decoration: none;
  font-size: 28px;
  font-weight: 900;
}

.logo .surname-logo{
  color: var(--primary);
  transition: all .25s;
}

/* animation for logo */

.logo:hover .surname-logo{
  color: white;
} 

.logo:hover .name-logo{
  color: var(--primary)
}

/* settings for sticky*/

.sticky-menu-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu{
  display: flex;
  justify-content: space-evenly;
}

.menu-mobile{
  display: none;
}

.menu li{
  margin: 0 5px;
  padding: 0;
  list-style: none;
  font-size: 18px;
}

.menu a{
  text-decoration: none;
  transition: all .25s ease-in;
}

.menu a:hover{
  color: var(--primary);
  border-bottom: 1px solid var(--primary);
}

.menu-icon{
  padding: 28px 20px;
  position: relative;
  display: none;
}

.nav-icon{
  height: 2px;
  width: 18px;
  position: relative;
  background-color:var(--primary);
  transition: all .25s ease-in-out;
  float: left;
}

.nav-icon::before,
.nav-icon::after{
  content: "";
  background-color: var(--primary);
  height: 100%;
  width: 100%;
  position: absolute;
}

.nav-icon::before{
  top: 5px;
}

.nav-icon::after{
  bottom: 5px;
}

.menu-btn{
  display: none;
}

@media (min-width:320px) and (max-width:480px){
  .header-container{
    justify-content: space-between;
    padding: 0 20px;
  }

  .menu{
    display: none;
  }

  .menu-icon{
    display: block;
    z-index: 2;
  }

  .menu-mobile{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(43, 109, 184, 0.35);
  }

  .menu-mobile li{
    list-style: none;
    color: white;
    margin: 15px;
  }

  .menu-mobile a{
    text-decoration: none;
  }


  .menu-btn:checked ~ .menu-mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
  }

  main{
    display: none;
  }


}