.cv-header{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 40px 0;
  padding: 5% 25%;
}

.cv-header h1{
  color: var(--primary);
}

.my-pic{
  width: 20%;
  border-radius: 50%;
  margin-right: 11vw;
}

.section-left{
  width: 30%;
}

.section-right{
  width: 50%;
}

.container-sections h3{
  margin: 15px 0;
  color: var(--primary);
}

.container-sections{
  display: flex;
  justify-content: space-around;
  padding: 0 15%;
}

p{
  margin: 20px 0;
}

p span{
  font-weight: 700;
  color: var(--secondary);
}

.container-single-skill{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-single-skill svg{
  width: 80px;
  height: 80px;
}

.progress-bar{
  height: 20px;
  width: 60%;
  border: 1px solid white;
  display: flex;
  align-items: center;
}

.loading{
  background-color: var(--primary);
  height: 18px;
}

.loading.html,
.loading.css{
  width: 80%;
}

.loading.git,
.loading.ps,
.loading.excel{
  width: 60%;
}

@media (min-width:320px) and (max-width:768px){

  .cv-header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0 20px 0;
    padding: 0 10%;
  }

  header h1{
    color: var(--primary);
    font-size: 1.5em;
  }

  .my-pic{
    margin-right: 6vw;
  }

  .container-sections{
  display: flex;
  justify-content: space-around;
  padding: 0 20%;
  }

  .container-sections{
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    align-items: center;
    font-size: 0.8em;
  }

  .section-left,
  .section-right{
    width: 80%;
  }

}