header{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  padding: 5% 25%;
}

header h1{
  color: var(--primary);
}

.my-pic{
  width: 20%;
  border-radius: 50%;
  margin-right: 11vw;
}

@media (min-width:320px) and (max-width:768px){

  header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 7% 10%;
  }

  header h1{
    color: var(--primary);
    font-size: 1.5em;
  }

  .my-pic{
    margin-right: 6vw;
  }

}